*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}
.nav{
    height: 50px;
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    font-weight: 700;
    background-color: black;
    /* align-items: center;
    justify-content: space-between; */
   
}
.logo-block{
    height: 50px;
    width: 50%;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: left;
    color: aqua;
    font-size: 25px;
    margin-left: 30px;

}
.option-block{
    height: 50px;
    width: 35%;
    
    /* border:1px solid; */
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    
}
ul{
    list-style: none;
    flex-direction: row;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    margin-top: 15px;
    color: #fff;
    
    
}
.last-block{

    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;
    margin-left: 35px;

}

.main-block{
    height: 90%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.main-block>div>h1{
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
}
.main-block>div>p{
    font-size: 21px;
    text-align: center;

}
button{
    text-transform: capitalize;
    background-color: rgb(8, 255, 214);
    height: 40px;
    width: 150px;
    border-radius: 7px;
    margin-left: 270px;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    transition: 2s hover ease;

}
button:hover{
    height: 50px;
    width: 160px;
    background-color: rgb(0, 255, 123);
    font-size: 17px;
    
}